@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: Roboto;
    margin: 0px;
    box-sizing: border-box;
}


header div.encabezado1 {
    color: #000000;
    font-size: 20px;
    line-height: 18px;
    background-color: #1CD1B0;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 67px;
}

header div.encabezado2 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

header div.encabezado2 h1 {
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 10px;
}

header nav.encabezado3 ul {
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    color: #FFFFFF;
    background-color: #001D2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding: 10px 30px 10px 1000px;
    justify-content: space-between;
}

main section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section article.batman {
    position: relative;
    width: 300px;
    margin: 100px 0;
    text-align: center;
}

main section article.batman div.cardbatman {
    padding: 10px;
    width: 100%;
    height: 195px;
    border-radius: 15px 15px 0 0;
    text-align: left;
    background-image: url(../img/batman.png);
    background-size: cover;
}

main section article.batman div.cardbatman i {
    color: red;
    font-size: 24px;
}

main section article.batman img.circulo {
    position: absolute;
    top: 110px;
    left: 90px;
    width: 120px;
    border-radius: 50%;
}

main section article.batman div.textocards {
    width: 100%;
    height: 350px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

main section article.batman div.textocards h3 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 40px;
}

main section article.batman div.textocards p {
    color: #333333;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

main section article.batman div.textocards button {
    color: white;
    margin: 25px;
    padding: 10px 100px;
    background-color: #00669F;
    border: none;
}

main section article.batman div.cardharley {
    padding: 10px;
    width: 100%;
    height: 195px;
    border-radius: 15px 15px 0 0;
    text-align: left;
    background-image: url(../img/harley.png);
    background-size: cover;
}

main section article.batman div.cardharley i {
    color: red;
    font-size: 24px;
}

main section article.batman div.cardsuperman {
    padding: 10px;
    width: 100%;
    height: 195px;
    border-radius: 15px 15px 0 0;
    text-align: left;
    background-image: url(../img/superman.png);
    background-size: cover;
}

main section article.batman div.cardsuperman i {
    color: red;
    font-size: 24px;
}

footer {
    color:#F3F3F3;
    font-size: 16px;
    line-height: 19px;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px 200px 10px;
}
